<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HelloWorld</servlet-name>
    <servlet-class>HelloWorld</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorld</servlet-name>
    <url-pattern>/HelloWorld</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>发送短信验证码</description>
    <display-name>发送短信验证码</display-name>
    <servlet-name>SendMSG</servlet-name>
    <servlet-class>yuyi.family.server.SendMSG</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMSG</servlet-name>
    <url-pattern>/SendMSG</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>验证短信验证码</description>
    <display-name>验证短信验证码</display-name>
    <servlet-name>VerifySMS</servlet-name>
    <servlet-class>yuyi.family.server.VerifySMS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifySMS</servlet-name>
    <url-pattern>/VerifySMS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>新用户注册</description>
    <display-name>新用户注册</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>yuyi.family.server.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>记录用户定位数据</description>
    <display-name>记录用户定位数据</display-name>
    <servlet-name>RecordGeolocation</servlet-name>
    <servlet-class>yuyi.family.server.RecordGeolocation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecordGeolocation</servlet-name>
    <url-pattern>/RecordGeolocation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>新增家庭成员</description>
    <display-name>新增家庭成员</display-name>
    <servlet-name>AddFamilyMember</servlet-name>
    <servlet-class>yuyi.family.server.AddFamilyMember</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFamilyMember</servlet-name>
    <url-pattern>/AddFamilyMember</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>获取用户信息</description>
    <display-name>获取用户信息</display-name>
    <servlet-name>GetUser</servlet-name>
    <servlet-class>yuyi.family.server.GetUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUser</servlet-name>
    <url-pattern>/GetUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>获取家人定位信息</description>
    <display-name>获取家人定位信息</display-name>
    <servlet-name>GetFamilyMemberLocation</servlet-name>
    <servlet-class>yuyi.family.server.GetFamilyMemberLocation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetFamilyMemberLocation</servlet-name>
    <url-pattern>/GetFamilyMemberLocation</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>